body{
    width: 100%;
}

.section-p1{
    padding: 100px 80px;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
    border-radius: 5px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 200px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}

.cart-total{
    position: relative;
    left: 750px;
    border: 1px solid #e2e9e1 10px;
    border-left: none;
    border-left: none;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 700;
}

.cart-total-price{
    position: relative;
    left: 20px;
}
.btn-purchase{
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    left: 500px;
    margin-top: 20px;
}

/* The next.html page */
.fact {
    font-weight: 900;
    font-size: xx-large;
}

/* For Cash on Delivery Page */
::placeholder {
    font-size: 15px;
}